:root {
    margin: 0px;
}

.ass1 {
    background-color: #e2e2e2;
    width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

.ass1 div {
    float: left;
    background-color: #cecece;
    margin-top: 15px;
    margin-left: 15px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.ass1 .full {
    width: calc(100% - 30px);
}
.ass1 ._1-3 {
    width: calc((100% - 60px) / 3);
}
.ass1 ._1-2 {
    width: calc((100% - 45px) / 2);
}
.ass1 ._1-4 {
    width: calc((100% - 75px) / 4);
    margin-bottom: 15px;
}
.clear {
    clear: both;
}

.ass2 {
    margin: 20px auto;
}

.ass2 div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #ddd; /* Get The Background From Image */
    color: black;
}

.ass2 .one {
    background-color: rgb(221 221 221 / .1);
}

.ass2 .two {
    opacity: 0.1
}
